*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* #region Utility */

:root{
    --discord-primary: #f6f6f6;
    --discord-secondary: #23272a;
    --discord-blue: #3161e0;
    --discord-lightblue: #7289da;
    
}
.oneblock{
    display: flex;
    width: 60%;
    margin-top: 4rem;
    margin-bottom: 4rem;

}

section{
    width: 100%;
}

.center_content{
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    max-width: 100%;
    
}


h2{
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
}


a{
    text-decoration: none;
    color: var(--discord-primary);
    font-weight: bold;
    margin:1rem;
}

.description{
    width: 40%;
    height: 100%;
}

.p_text_margin{
    margin-top: 2rem;
    margin-left: 1rem;
}
/* #endregion Utility  */

/* #region header */

#header{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--discord-blue);
}

.logo, .link, .login{
    height: 36px;
    display: flex;
    align-items: center;
    
}

.logo, .login{
    width: 10%;
    
    
}

.link{
    width: 40%;
    justify-content: center;
}


.accedi{
    background-color: white;
    border: 1px solid white;
    padding: 0.3rem;
    border-radius: 13px;
}

.login{
    justify-content: flex-end;
}


/* #endregion header */

/* #region user start */

.user_start{
    background: url(./img/header-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
}


.app_choice{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.title{
    color: var(--discord-primary);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.title_description{
    color: var(--discord-primary);
    font-size: 1rem;
    margin: 2rem;
    text-align: center;
}

.mac{
    padding: 1rem;
    border-radius: 30px;
    margin-right: 0.5rem;
    font-size: 1rem;
    background-color: white;
    border: none;
}

.browser{
    padding: 1rem;
    border-radius: 30px;
    margin-left: 0.5rem;
    font-size: 1rem;
    color: var(--discord-primary);
    background-color: black;
    border: none;
}

/* #endregion user start */

/* #region founding */

.founding{
    background-color: var(--discord-primary);
}

.founding_img{
    margin-left: 2rem;
}

/* #endregion founding */

/* #region technology */
.technology_section{
    background-color: var(--discord-primary);
}

.technology{
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}

.technology_title{
    text-align: center;
}

.technology_text{
    text-align: center;
}

.start_adv{
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
